name: Secure Vault CI/CD

on:
    workflow_dispatch:
    push:
        branches:
            - deploy

jobs:
    migrations:
        environment: production
        runs-on: ubuntu-latest
        strategy:
            matrix:
                dotnet: ['7.0.x', '8.0.x', '9.0.x']
        steps:
            - uses: actions/checkout@v5

            - name: Setup dotnet
              uses: actions/setup-dotnet@v5
              with:
                  dotnet-version: ${{ matrix.dotnet }}
            - name: Create temporary global.json
              run: |
                  echo '{"sdk":{"version": "${{ steps.stepid.outputs.dotnet-version }}"}}' > ./global.json

            - name: Setup EF Tools
              working-directory: ./server
              run: |
                  dotnet tool install --global dotnet-ef 
                  dotnet tool restore

            - name: Bundle EF Migrations
              working-directory: ./server
              env:
                  DATABASE_CONNECTION: ${{ secrets.DATABASE_CONNECTION }}
                  PUBLIC_KEY: ${{ secrets.PUBLIC_KEY }}
                  PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
              run: |
                  dotnet ef migrations bundle --self-contained -r linux-x64

            - name: Run migrations
              working-directory: ./server
              env:
                  DATABASE_CONNECTION: ${{ secrets.DATABASE_CONNECTION }}
                  PUBLIC_KEY: ${{ secrets.PUBLIC_KEY }}
                  PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
              run: |
                  chmod +x efbundle
                  ./efbundle --connection "${{ secrets.DATABASE_CONNECTION }}"

    trigger:
        needs: migrations
        environment: production
        runs-on: ubuntu-latest
        steps:
            - name: Trigger deployment
              run: |
                  curl -X 'POST' \
                        '${{secrets.VPS_URL}}/api/compose.deploy' \
                        -H 'accept: application/json' \
                        -H 'Content-Type: application/json' \
                        -H 'x-api-key: ${{secrets.VPS_API_KEY}}' \
                        -d '{
                        "composeId": "${{secrets.APPLICATION_COMPOSE_ID}}"
                        }'
